/* ---- Universal ---- */
* {
    box-sizing: border-box;
}


/* ---- ID Elements ---- */
#app-showhide,
#main-course-showhide,
#side-dishes-showhide {
    display: none;
}

#nacho-recipe-showhide,
#stuffed-shrimp-recipe-showhide,
#crostini-recipe-showhide,
#pork-marsala-recipe-showhide,
#savory-chicken-recipe-showhide
#thai-coconut-shrimp-recipe-showhide,
#cucumber-salad-recipe-showhide,
#asparagus-lemon-recipe-showhide {
    display: none;
}



/* ---- Class Elements ---- */


.main-header {
    background-color: red;
}

.resize {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-top: 1.5em;
}

.main-layer {
    display: inline-block;
    vertical-align: top;
    padding: 1em;
    margin-top: 1em;
    background-color: green;
}

.sub-section {
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: orange;
}

.recipe {
padding-top: 1em;
padding-bottom: 1em;
background-color: purple;
}

.container {
    padding-top: 1em;
    background-color: crimson;
}

.col {
    background-color: darkgoldenrod;
    padding-bottom: 50px;
}

.ingredients {
    border: solid red 1px;
}

.directions {
    border: solid black 1px;
}

h1:not(:first-child) {
    font-size: 24px;
    border-bottom: 2px solid;
}



/*--- Combinators ---*/
header > p {
    font-size: x-large;
}


/*--- Media Queries ---*/
@media (min-width: 769px) {
    /*Header*/
    .main-header {
        display: inline-block;
        vertical-align: top;
        padding-left: 1 em;
        padding-right: 1 em; 
    }

    .img {
        float: left;
        padding-right: 2.5em;
    }



    /*Body*/
    .clearfix :: after {
        content: " ";
        display: table:
        clear: both;
    }

    .main-layer,
    .container {
        display: inline-block;
        vertical-align: top;
        padding-left: 1em;
        padding-right: 1em;
        overflow: auto;
    }

    .ingredients {
        float: left;
        width: 40%;
    }

    .directions {
        float: right;
        width: 60%;  
    }





}