/* ---- Universal and element ---- */
* {
    box-sizing: border-box;
}

button {
    padding: .5em;
    margin: .5em;
    background-color: #d3dcd9
}
/* ---- ID Elements ---- */
#app-showhide,
#main-course-showhide,
#side-dishes-showhide,
#dessert-showhide {
    display: none;
}

#nacho-recipe-showhide,
#stuffed-shrimp-recipe-showhide,
#crostini-recipe-showhide,
#pork-marsala-recipe-showhide,
#savory-chicken-recipe-showhide,
#thai-coconut-shrimp-recipe-showhide,
#cucumber-salad-recipe-showhide,
#asparagus-lemon-recipe-showhide, 
#grilled-carrot-recipe-showhide,
#pumpkin-spice-recipe-showhide,
#cinnamon-frosting-recipe-showhide,
#brownies-recipe-showhide {
    display: none;
}

#topnav {
    display: flex;
    flex-direction: column;
}

/* ---- Class Elements ---- */


.main-header {
    background-color: #e86e51;
    width: 100%;
}

.resize {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-top: 1.5em;
}

.main-layer {
    display: inline-block;
    vertical-align: top;
    padding: 1em;
    margin-top: 1em;
    background-color:#07b890;
    width: 100%;
}

.sub-section {
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: #81dd88;
}

.recipe {
padding-top: 1em;
padding-bottom: 1em;
background-color: #81dd88;
}

.container {
    padding-top: 1em;
    background-color: #fbe66a;
}

.col {
    background-color: #fbe66a;
    padding-bottom: 50px;
}

h1:not(:first-child) {
    font-size: 24px;
    border-bottom: 2px solid;
}



/*--- Combinators ---*/
header > p {
    font-size: x-large;
}


/*--- Media Queries ---*/
@media (min-width: 769px) {
    /*Header*/
    .main-header {
        display: inline-block;
        vertical-align: top;
        padding-left: 1 em;
        padding-right: 1 em; 
    }

    .img {
        float: left;
        padding-right: 2.5em;
    }



    /*Body*/
    .clearfix :: after {
        content: " ";
        display: table;
        clear: both;
    }

    .main-layer,
    .container {
        display: inline-block;
        vertical-align: top;
        padding-left: 1em;
        padding-right: 1em;
        overflow: auto;
    }

    .ingredients {
        float: left;
        width: 40%;
    }

    .directions {
        float: right;
        width: 60%;  
    }





}