/* ---- Universal ---- */
* {
    box-sizing: border-box;
}

/* ---- Class Elements ---- */
.container {
    width: 70%;
    margin: 0 auto;
    padding-left: 1em;
    padding-right: 1em;
}

.img-wrapper{
    position: absolute;
    top:- 10px;
    left:-10px;
    @include border-radius(100px);
    background-color: $bg;
    padding:10px;
    z-index: 1000;
    @include transition(all .2s);

img{
    @include border-radius(100px);
     @include transition(all .2s);
     width: $size;
    }

@media (min-width: 769px) {
    .container {
        width:70%;
        max-width: 1000px;
        margin: 10px;
    }
}